/* Base template styling */

body {
  /* background-color: #FFEBEE; */
  font-family: 'Roboto', serif;
  background-image: url("../../../media/css_files/body-background.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer .container .jumbotron {
  background-color: #262626;
}

.jumbotron {
  background-color: #262626;
  
}

.jumbo_header {
  background-image: url("../../../media/css_files/header.jpg");
  background-size: auto;
  background-position: center center;
}

/* Href links styling*/
a:link {
  color: darkblue;
}

a:visited {
  color: #262626;
}

a:hover{
  color: darkblue;
}

/* Navbar Styling */

.navbar {
    margin-bottom: 0;
    background-color: #262626;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }

  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }


  /* Home Page CSS */
  .home-page-block{
    background-color: whitesmoke;
    border-style: groove white;
    border-radius: 10px;
    padding: 1%;
    height: 100%;
  }

  .home-page-block .col1 {
    padding-top: 10px;
    border-style: groove;
    border-radius: 10px;
    margin: 10px;
    
  }

  .home-page-block .col2 {
    border-style: groove;
    border-radius: 10px;
    margin: 10px;
    padding-top: 20px;
    
  }

  .home-page-block .social-media-icons {
    color: #262626;
    font-size: 20px;
  }

  /* Security Page Css */

  .preview-container {
    background-color: whitesmoke;
    height: 800px; 
    padding-left: 40px; 
    padding-right: 40px;
    padding-top: 20px;
    border: 2px solid white;
    border-radius: 8px;
  
  }

  .blog_post_preview {
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #262626;
    border-radius: 8px;
  }


/* article apps formatting */
  .article-style {
    font-size: 22px;
    letter-spacing: 2px;
  }

  .article-style .a-title {
    font-size: 45px;
  }