body {
  /* background-color: #FFEBEE; */
  font-family: 'Playfair Display', serif;
}

.jumbo_header {
  background-color: #262626;
}

.navbar {
    margin-bottom: 0;
    background-color: #262626;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }

  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }


  /* Home Page CSS */
  .home-page-block{
    background-color: whitesmoke;
    border-style: groove white;
    border-radius: 10px;
    padding: 1%;
  }

  .home-page-block .col1 {
    padding-top: 10px;
    border-style: groove;
    border-radius: 10px;
    margin: 10px;
    
  }

  .home-page-block .col2 {
    border-style: groove;
    border-radius: 10px;
    margin: 10px;
    padding-top: 20px;
    
  }

  .home-page-block .social-media-icons {
    color: #262626;
    font-size: 20px;
  }

  /* Security Page Css */

  .preview-container {
    background-color: whitesmoke;
    height: 800px; 
    padding-left: 40px; 
    padding-right: 40px;
    padding-top: 20px;
    border: 2px solid white;
    border-radius: 8px;
  
  }

  .blog_post_preview {
    /* background-color: #7EA3CC; */
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #262626;
    border-radius: 8px;
  }
