{% extends "blog/base.html"%}


{% block content%}

    <hr>
    <div class="container home-page-block">
        <div class="row justify-content-around">
            <div class="col-md-3 col1">
                <img class="img-thumbnail border rounded mx-auto d-block"  src="{{ user.profile_image.url }}" alt="profile_picture">
                <h2>{{user.first_name}} {{user.middle_name_initial}} {{user.last_name}}</h2>

                <p style="margin-top: -10px;">
                    <span class="fas fa-location-arrow" style="margin-right: 15px;"> </span>
                    {{user.location}}
                </p>
                
                
                <p style="margin-top: -10px;">Contact:</p>
                <p style="margin-top: -20px;"> 
                    <span class="fa fa-envelope" aria-hidden="true" style="margin-right: 15px;"></span>
                    {{user.email}}
                </p>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <a class="fa fa-linkedin social-media-icons" aria-hidden="true" href="{{user.linkedin_link}}"></a>               
                    </div>
                    <div class="col text-center">
                        <a class="fa fa-github social-media-icons" aria-hidden="true" href="{{ user.github_link}}"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col2">
                <h2 style="text-align: center;">About me</h2>
                <p>{{ user.about_me }}</p>
            </div>
        </div>
    </div>
{% endblock content%}