{% extends "blog/base.html"%}


{% block content%}
    <div class="container">
        <br>
        <div class="row">
            <div class="col col-md4 text-center">
                <img class="img-fluid" src="/media/profile.jpeg" alt="profile picture" style="height: 240px; box-shadow: 20px 20px 10px #928a8a;" id="myprofile">
                <br><br>
                <h2>Jose R Heras</h2>
                <span class="fas fa-location-arrow"> Chicago, IL</span>
                <br><br>
                <h4>Contact</h4>
                
                <p>Email : jrheras21@gmail.com</p>
                <a class="fa fa-2x fa-linkedin" aria-hidden="true"  href="/"></a>
                <a class="fa fa-2x ml-3 fa-github" aria-hidden="true" href="/"></a>
            </div>

            <div class="col col-md-8 d-flex flex-column justify-content-center text-center">
                <h2>Who am I</h2>
                <p>
                    Hello and welcome to my website. In here you will find various things that I have completed
                    or done through out my brief path on the technology field. 
                </p>
                <p>
                    Things I found interesting includes web design, software engineering, security, and other things. 
                </p>
            </div>
        </div>
    </div>
{% endblock content%}