{% extends "blog/base.html"%}

{% block content %}

        <!--This section contains the introductory content of the project page-->
        <div class="container">
            <br>
            <div class="row">
                <div class="col col-md-5">
                    <h2>Projects</h2>
                    <p>
                        One can only learn so much through theory. Therefore, to complement the rest of the learning practice is key.
                        In this section I will include projects that I have worked on and will be adding future projects as well. 
                    </p>
                </div>
                <div class="col col-md-4 ml-auto">
                    <i class="fa fa-code article-logo" aria-hidden="true" style="font-size: 150px; color: Tomato;"></i>
                </div>
            </div>
        </div>
    
        <!--This container serves as the ground to build the data with respect to projects-->
        <hr>
        <div class="container">
            <div class="row text-center project_row">
                <div class="col col-md-3">
                    <h3>Plate Beacon</h3>
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                    <p>This section perhaps contain quick description of the actual project</p>
                </div>
    
                <div class="col col-md-3 ml-auto">
                    <h3>Sudoku Solver</h3>
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                    <p>This section perhaps contain quick description of the actual project</p>
                </div>
    
                <div class="col col-sm-3 ml-auto">
                    <h3>Sorting Visualizer</h3>
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                    <p>This section perhaps contain quick description of the actual project</p>
                </div>
            </div>
    
    
        </div>

{% endblock content%}